nav {
  background-color: brown;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;

  & > a {
    text-decoration: none;
    color: #fff;
  }

  & .user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    & .session {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.2rem;

      & button {
        font-size: 1rem;
        padding: 0.2rem 0.5rem;
      }
    }
  }
}

.display {
  width: 100%;
  height: 90svh;
  background-color: #1b0505;
  display: flex;

  & aside {
    width: 30vw;
    height: 90svh;
    background-color: #681818;

    & ul {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      & li {
        width: 100%;
        height: 3rem;
        background-color: #cf3c3c;

        &:hover {
          background-color: #753131;
        }

        & a {
          width: 100%;
          font-size: 1rem;
          text-decoration: none;
          height: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-left: 2rem;
          color: #fff;

          &.active {
            background-color: #5b1a1a;
          }
        }
      }
    }
  }

  & .container {
    width: 70vw;
    height: 90svh;
    overflow-y: scroll;
    padding-bottom: 2rem;
  }

  & .products {
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    & .btn {
      color: #fff;
      text-decoration: none;
      background-color: #2bb42b;
      padding: 0.5rem 1rem;
      border-radius: 2rem;
      margin: 1rem 0;
    }

    & .products_list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;

      & li {
        border: 1px solid #fff;
        list-style-type: none;
        border-radius: 0.3rem;
        background-color: #772b2b;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
        overflow: hidden;

        & img {
          width: 15rem;
          height: 10rem;
          object-fit: cover;
        }

        & .del {
          background-color: #dc1d1d;
          color: #fff;
          font-size: 1rem;
          border: none;
          padding: 0.5rem 1rem;
          border-radius: 0.3rem;
          cursor: pointer;
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  & .createproduct {
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    & form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 0.5rem;

      & h1 {
        margin-block: 1rem 2rem;
      }

      & .img_container {
        border: 1px solid #fff;
        max-width: 30rem;
        max-height: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;

        & input {
          display: none;
        }

        & label {
          width: 30rem;
          height: 20rem;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }

        & img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }
      }

      & .btn_secondary {
        width: 20rem;
        height: 2.5rem;
        font-size: 1rem;
        background-color: #2bb42b;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 0.5rem;
      }

      & > input {
        width: 20rem;
        height: 2.5rem;
        font-size: 1rem;
        padding-inline: 0.5rem;
      }

      & button {
        width: 20rem;
        height: 2.5rem;
        font-size: 1rem;
        background-color: #2bb42b;
        border: none;
        color: #fff;
        cursor: pointer;
        border-radius: 0.5rem;
      }
    }
  }

  & .users_container {
    padding: 1rem;
    color: #fff;

    & table {
      width: 100%;
      border: 1px solid #fff;

      & thead {
        border: 1px solid #fff;
        width: 100%;

        & th {
          border: 1px solid #fff;
          padding: 0.5rem;
        }
      }

      & tbody {
        border: 1px solid #fff;
        width: 100%;

        & td {
          border: 1px solid #fff;
          padding: 0.5rem;
        }

        & .actions {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          gap: 0.5rem;

          & button {
            font-size: 1rem;
            background-color: #dc1d1d;
            color: #fff;
            padding: 0.2rem 0.5rem;
            border: none;
            cursor: pointer;
          }

          & a {
            font-size: 1rem;
            background-color: blue;
            color: #fff;
            padding: 0.2rem 0.5rem;
            border: none;
            cursor: pointer;
            text-decoration: none;
          }

          & form {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            & input {
              height: 2rem;
              width: 15rem;
              font-size: 1rem;
              padding-inline: 0.5rem;
            }

            & .update {
              background-color: rgb(49, 196, 49);
            }
          }
        }
      }
    }
  }

  & .logs {
    width: 100%;
    color: #fff;
    padding: 1rem;

    & table {
      width: 100%;
      border: 1px solid #fff;

      & thead {
        border: 1px solid #fff;
        width: 100%;

        & th {
          border: 1px solid #fff;
          padding: 0.5rem;
        }
      }

      & tbody {
        border: 1px solid #fff;
        width: 100%;

        & td {
          border: 1px solid #fff;
          padding: 0.5rem;
          max-width: 5rem;
        }
      }
    }
  }
}
